*{
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}
.AppLogo{
    height: 30px;
    margin: auto 0 auto 10px;
}
.AppBanner{
    width:100%;
}
.header{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    box-shadow: 0px 1px 2px grey;
    background:white;
}
.headerLabel{
    margin:5px auto;
    font-size:1.5em;
}
.modern-button{
    cursor:pointer;
    margin:10px;
    font-size:1em;
    padding: 10px 20px;
    border-radius: 2em;
}
.button-red{
    color:white;
    background:red;
    border:1px solid red;
}
.button-green{
    color:white;
    background:teal;
    border:1px solid teal;
}
.modern-button-red:hover{
    box-shadow: 1px 1px 1px grey;
}
.queueHeader{
    text-align: center;
}
ul.queueList {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
}
ul.queueList li{
    box-shadow: 0px 0px 3px grey;
    padding: 5px;
    margin: 3px;
    width: 90%;
    min-width: 300px;
    background:rgba(211, 211, 211, 0.5);
}
ul.queueList li h2{
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}
.deleteQueue{
    float:right;
    cursor: pointer;
}
i{
    font-family:'Material Icons' !important;
}
.queueActions{
    text-align: center;
}
.queueMgrBody{
    background: url(https://demos.creative-tim.com/rubik/assets/img/rubik_background3.jpg);
    height: calc(100vh - 38px);
    color:white;    
}
.addQueuePop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.popMainArea {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px grey;
    width:350px;
}
.popupFacade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
}
.newQueueName{
    display: block;
    width: 300px;
    margin: 10px auto;
    border: 0;
    padding: 2px;
    font-size: 1em;
    background: #f3f3f3;
}
.newQueueNameLabel{
    display: block;
    text-align: center;
    color:black;
}
.addNewQueue{
    display: block;
    cursor: pointer;
    margin: 10px auto;
    font-size: 0.9em;
    padding: 8px 20px;
    background: #fe0000;
    color: white;
    border: none;
}
i.closeQueuePop {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: black;
}