<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://media-fastly.hackerearth.com/media/hackathon/dbs-hacktron-full-stack-2019/images/40498c7477-DBS_Cover_Image.jpg">
</div>
<h2> Queue Manager </h2>
<ul>
  <li>
    <h2><a>Queue #1 </a><a target="_blank" rel="noopener" href="">Remove</a></h2>
  </li>
  <li>
    <h2><a>Queue #2 </a> <a target="_blank" rel="noopener" href="">Remove</a></h2>
  </li>
  <li>
    <h2><a>Queue #3 </a><a target="_blank" rel="noopener" href="">Remove</a></h2>
  </li>
</ul>

<button>Add Queue</button>
<button>Remove All</button>

